@page "/MyFSMs"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore.ChangeTracking
@using Finite_State_Machine_Designer.Data
@using Finite_State_Machine_Designer.Services
@using Finite_State_Machine_Designer.Client.FSM
@inherits ModuleCheckBaseComponent
@rendermode InteractiveServer
@implements IDisposable
@inject UserService userService
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Navigation
@inject ILogger<MyFSMs> _logger
@attribute [Authorize]

<PageTitle>My State Machines</PageTitle>
<SectionContent SectionId="MainLayout.TopBarSection">
    <h1>Finite State Machines</h1>
</SectionContent>

<div class="current-fsm-section"
    style="@(!_displayCurrentFsm ? "display:none;" : "")
    @(_loadingFsmView ? "grid-template-columns: 1fr;" : "")">
    @if (_loadingFsmView)
    {
        <Loading Height="10em" Width="10em"
            Style="border-width: 1em; justify-self: center;" />
    }
    else if (_currentFsm is null)
    {
        <h2>No FSM currently in use</h2>
    }
    else
    {
        <div>
            <div class="canvas-name-group canvas-info-group">
                <h2><label for="canvasName">Name: @_currentFsm.Name</label></h2>
                <input id="canvasName" class="canvas-name" type="text"
                    name="name" placeholder="Name"
                    @bind:event="oninput" @bind="_currentFsm.Name" />
            </div>
            <div class="save-section">
                @if (_currentlySaving)
                {
                    <Loading Height="1.5em" Width="1.5em"
                        Style="border-width: 0.2em;" />
                }
                else if (_currentDrawnFsm is not null 
                    && _currentDrawnFsm.Name == _currentFsm.Name)
                {
                    <button class="inline-button"
                    @onclick="SetSaveCurrent">
                        Save
                    </button>
                    @if (_currentSavedFailed)
                    {
                        <p class="blink">@_errorSaveMsg</p>
                    }
                    else if (_currentSaved)
                    {
                        <p class="blink">Saved!!</p>
                    }
                }
                else
                {
                    <button class="inline-button" 
                        @onclick="async (e) => await SetDrawingFsmAsync(_currentFsm)">
                        Draw
                    </button>
                }
            </div>
            <p class="canvas-desc-summary">Description</p>
            <div class="canvas-desc-group canvas-info-group">
                <label class="canvas-desc-label" for="canvasDesc">Description:</label>
                <textarea id="canvasDesc" name="Description"
            placeholder="Description" rows="10" cols="69"
                    @bind:event="oninput" @bind="_currentFsm.Description" />
            </div>
        </div>
        <div class="fsm-svg-section">
        <button 
            @onclick="e => _displayCurrentFsm = false">✖️</button>
        <img class="fsm-svg" @onload="e => RevokeUrlAsync(_fsmSvgUrl)"
            src="@_fsmSvgUrl" />
        </div>
    }
</div>
@if (_finishLoading && _currentDrawnFsm is not null)
{
    <button @onclick="async (e) => await DisplayFsmAsync(_currentDrawnFsm)">
        Currently drawn FSM: @_currentDrawnFsm.Name
    </button>
}
@if (_finishLoading && _user is not null)
{
    <ol class="fsm-list-container">
        @foreach (FiniteStateMachine fsm in _user.StateMachines)
        {
            <li class="fsm-list-item" @onclick="async (e) => await DisplayFsmAsync(fsm, true)">
                <div><b>@fsm.Name</b></div>
                <div><b>@fsm.Description</b></div>
                <div><b>Last Updated: @fsm.TimeUpdated</b></div>
                <div><b>Creation Time: @fsm.TimeCreated</b></div>
            </li>
        }
        @if (_loadMoreFsms)
        {
            <li class="fsm-list-item load-more-button" @onclick="GetMoreFsmsHandler">
                <b>Load More</b>
            </li>
        }
    </ol>
}
else
{
    <div style="display:grid;">
        <Loading Height="10em" Width="10em"
                Style="border-width: 1em; justify-self: center;" />
    </div>
}

<canvas id="hiddenCanvas" style="display:none;"/>
@code
{
    [SupplyParameterFromQuery]
    [Parameter]
    public bool SaveCurrent { get; set; }

    private ApplicationUser? _user = null;
    /// <summary>
    /// Current FSM to be viewed.
    /// </summary>
    private FiniteStateMachine? _currentFsm = null;
    /// <summary>
    /// Current FSM that can be drawn.
    /// </summary>
    private FiniteStateMachine? _currentDrawnFsm = null;
    private int _availableFsmsLimit = 20;
    private DateTime _lastRecentModifiedTime = DateTime.MinValue;
    private double _mainFsmSvgScale = 0.5;
    private bool _displayCurrentFsm = false;
    private bool _currentlySaving = false;
    private bool _currentSaved = false;
    private bool _currentSavedFailed = false;
    private bool _finishLoading = false;
    private bool _loadingFsmView = false;
    private bool _loadMoreFsms = true;
    private const string _canvasBackgroundColour = "#313338";
    private const string _colour = "#ffffff";
    private string _fsmSvgUrl = string.Empty;
    private string _errorSaveMsg = "Couldn't save!! Something went wrong.";

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += HandleLocationChangedAsync;
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await SetJsModule("./Components/Pages/MyFSMs.razor.js");

        if (CheckJsModule(JsModule) && _currentDrawnFsm is null)
        {
            await JsModule.InvokeAsync<bool>("fSMCanvasUtils.getCanvasContext",
                "hiddenCanvas");
            FiniteStateMachine? fsm =
            await JsModule.InvokeAsync<FiniteStateMachine>("fSMCanvasUtils.loadFSM");
            if (fsm is not null
                && fsm.States is not null && fsm.States.Count > 0)
            {
                fsm.SanitiseFsm();
                _currentDrawnFsm = fsm;
                await GenerateFsmSvgAsync(_currentDrawnFsm, _mainFsmSvgScale);
            }
            StateHasChanged();
        }

        if (_user is null)
        {
            await InitialiseUserAsync();
            StateHasChanged();
        }
        if (SaveCurrent)
            await SaveCurrentFSMAsync();
    }

    private async Task DisplayFsmAsync(FiniteStateMachine fsm, bool reload = false)
    {
        _currentFsm = fsm;
        _loadingFsmView = true;
        _displayCurrentFsm = true;
        if (reload)
        {
            await using ApplicationDbContext dbContext =
                await DbFactory.CreateDbContextAsync();
            await DBCommnds.GetFullFsmAsync(dbContext, fsm, CancellationToken.None);
        }

        await GenerateFsmSvgAsync(fsm, _mainFsmSvgScale);
        _loadingFsmView = false;
    }

    /// <summary>
    /// Sets the specified FSM to be the one to be currently drawn.
    /// </summary>
    /// <param name="fsm">Finite State Machine</param>
    private async Task SetDrawingFsmAsync(FiniteStateMachine fsm)
    {
        if (_user is not null)
        {
            _currentDrawnFsm = fsm;
            if (CheckJsModule(JsModule))
                await JsModule.InvokeVoidAsync("fSMCanvasUtils.saveFSM", _currentDrawnFsm);
        }
    }

    private async void GetMoreFsmsHandler(MouseEventArgs mouseEventArgs)
    {
        if (_user is not null)
        {
            await using ApplicationDbContext dbContext =
                await DbFactory.CreateDbContextAsync();
            try
            {
                _loadMoreFsms = await DBCommnds.GetMoreFsmsAsync(dbContext, _user,
                    _lastRecentModifiedTime, _availableFsmsLimit);
                _lastRecentModifiedTime = _user.StateMachines.Last().TimeUpdated;
                StateHasChanged();
            }
            catch (Exception ex)
            {
                _logger.LogError("Couldn't load more FSMs");
                _logger.LogError("{ERROR}", ex.ToString());
            }
        }
    }

    private async void RevokeUrlAsync(string url)
        => await JS.InvokeVoidAsync("URL.revokeObjectURL", url);

    private void SetSaveCurrent(MouseEventArgs mouseEventArgs) => SaveCurrent = true;

    private async void HandleLocationChangedAsync(object? sender, LocationChangedEventArgs e)
    {
        await SetJsModule("./Components/Pages/MyFSMs.razor.js");
        if (CheckJsModule(JsModule) && _currentDrawnFsm is not null)
            await JsModule.InvokeVoidAsync("fSMCanvasUtils.saveFSM", _currentDrawnFsm);
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= HandleLocationChangedAsync;
    }
}